

{% extends "shop/base.html" %}
{% load static %}
{% block title %}Categories{% endblock %}
{% block content %}


<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "shop:product_list" %}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{% url "shop:categories" %}">Shop</a></li>
        </ol>
    </div><!-- End .container -->
</nav>


<div class="page-content">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-xl-4-5col">
              <div class="category-banners-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" 
                  data-owl-options='{
                      "nav": false,
                      "responsive": {
                          "768": {
                              "nav": true
                          }
                      }
                  }'>
                  <div class="banner banner-poster">
                      
                      <a href="{{tv_category.get_absolute_url}}">
                          <img src="{% static "assets/images/demos/demo-13/banners/banner-7.jpg" %}" alt="Banner">
                      </a>

                      <div class="banner-content banner-content-right">
                          <h3 class="banner-subtitle"><a href="{{tv_category.get_absolute_url}}">Amazing Value</a></h3><!-- End .banner-subtitle -->
                          <h2 class="banner-title"><a href="{{tv_category.get_absolute_url}}">High Performance 4K TVs</a></h2><!-- End .banner-title -->
                          <a href="{{tv_category.get_absolute_url}}" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                      </div><!-- End .banner-content -->
                  </div><!-- End .banner -->

                  <div class="banner banner-poster">
                      <a href="{{apple_brand.get_absolute_url}}">
                          <img src="{% static "assets/images/demos/demo-13/banners/banner-8.jpg" %}" alt="Banner">
                      </a>

                      <div class="banner-content">
                          <h3 class="banner-subtitle"><a href="{{apple_brand.get_absolute_url}}">Weekend Deal</a></h3><!-- End .banner-subtitle -->
                          <h2 class="banner-title"><a href="{{apple_brand.get_absolute_url}}">Apple & Accessories</a></h2><!-- End .banner-title -->
                          <a href="{{apple_brand.get_absolute_url}}" class="banner-link">Shop Now <i class="icon-long-arrow-right"></i></a>
                      </div><!-- End .banner-content -->
                  </div><!-- End .banner -->
              </div><!-- End .owl-carousel -->

              <div class="mb-3"></div><!-- End .mb-3 -->

              <div class="owl-carousel owl-simple owl-nav-align" data-toggle="owl" 
                  data-owl-options='{
                      "nav": false, 
                      "dots": true,
                      "margin": 30,
                      "loop": false,
                      "responsive": {
                          "0": {
                              "items":2
                          },
                          "420": {
                              "items":3
                          },
                          "600": {
                              "items":4
                          },
                          "900": {
                              "items":5
                          },
                          "1024": {
                              "items":6,
                              "nav": true, 
                              "dots": false
                          }
                      }
                  }'>

                  {% for brand in brands %}
                  <a href="{{brand.get_absolute_url}}" class="brand">
                      <img src="{% if brand.image %}{{brand.image.url}}{% endif %}" alt="Brand Name">
                  </a>
                  {% endfor %}

              </div><!-- End .owl-carousel -->

              <div class="mb-3 mb-lg-5"></div><!-- End .mb-3 mb-lg-5 -->

              <div class="cat-blocks-container">
                  <div class="row">
                    {% for category in categories %}
                      <div class="col-6 col-md-4 col-lg-3">
                          <a href="{{ category.get_absolute_url }}" class="cat-block">
                              <figure>
                                  <span>
                                      <img src="{% if category.image %}{{ category.image.url }}{% endif %}" alt="Category image">
                                  </span>
                              </figure>

                              <h3 class="cat-block-title">{{ category.name }}</h3><!-- End .cat-block-title -->
                          </a>
                      </div><!-- End .col-6 col-md-4 col-lg-3 -->
                      {% endfor %}
                  </div><!-- End .row -->
              </div><!-- End .cat-blocks-container -->


              

              <div class="mb-2"></div><!-- End .mb-2 -->

              <h2 class="title title-border">Featured Items</h2><!-- End .title -->

              <div class="owl-carousel owl-simple owl-nav-top carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                  data-owl-options='{
                      "nav": true, 
                      "dots": false,
                      "margin": 20,
                      "loop": false,
                      "responsive": {
                          "0": {
                              "items":2
                          },
                          "480": {
                              "items":2
                          },
                          "768": {
                              "items":3
                          },
                          "1200": {
                              "items":4
                          }
                      }
                  }'>

                  {% for product in products %}

                  
                  <div class="product">
                      <figure class="product-media">
                          <span class="product-label label-top">Top</span>
                          <a href="{{ product.get_absolute_url }}">
                              <img src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="Product image" class="product-image">
                          </a>

                          <div class="product-action">
                              <a  class="btn-product btn-cart add_to_cart" title="Add to cart"><span>add to cart</span></a>
                          </div><!-- End .product-action -->
                      </figure><!-- End .product-media -->

                      <div class="product-body">
                          <div class="product-cat">
                              <a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a>
                          </div><!-- End .product-cat -->
                          <h3 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3><!-- End .product-title -->

                          <span id="productid" value="2" style="display: none;">2</span>

                          <div class="product-price">
                              TZS{{ product.price }}
                          </div><!-- End .product-price -->
                          <div class="ratings-container">
                              <div class="ratings">
                                  <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                              </div><!-- End .ratings -->
                              <span class="ratings-text">( 4 Reviews )</span>
                          </div><!-- End .rating-container -->
                      </div><!-- End .product-body -->
                  </div><!-- End .product -->
                  {% endfor %}

              </div><!-- End .owl-carousel -->

              <div class="mb-4"></div><!-- End .mb-4 -->

          </div><!-- End .col-lg-9 -->


          <aside class="col-lg-3 col-xl-5col order-lg-first">

        <!-- ..................START OF THE AD WIDGET FOR THE AD BANNER............. -->
                  <div class="widget widget-banner-sidebar">
                      <div class="banner-sidebar-title">ad banner 218 x 430px</div><!-- End .ad-title -->
                      
                      <div class="banner-sidebar banner-overlay">
                          <a href="{{samsung_brand.get_absolute_url}}">
                              <img src="{% static "assets/images/demos/demo-13/banners/banner-6.jpg" %}" alt="banner">
                          </a>
                      </div><!-- End .banner-ad -->
                  </div><!-- End .widget -->

            <!-- ................END OF WIDGET BANNER FOR THE AD................................... -->
              </div><!-- End .sidebar sidebar-shop -->
          </aside><!-- End .col-lg-3 -->

      </div><!-- End .row -->
  </div><!-- End .container -->
</div><!-- End .page-content -->


</main><!-- End .main -->             


<script>

    $(document).ready(function(){
        $("#add_to_cart").click(function(){
            $.post("{% url 'cart:cart_add'%}",
                {
                    product_id:2,
                    quantity:1,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                }, function(data, status){
                        var cart_count = parseInt($('.cart-count').text());
                        var update = quantity + cart_count;
                        $('.cart-count').text(update);
                    }
             ); 
        });
    });

  </script>

{% endblock %}