

{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Reset Your password
{% endblock %}

{% block content %}

    <h1>Reset your Password.</h1>
    {% if validlink %}
        <p>Please Enter your new password twice:</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Chanfe my Password"></p>
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset. 
        </p>
    {% endif %}

{% endblock %}